@import './base/variables';
@import './base/settings';

body {
  background-color: $dark;
}

.card {
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    box-shadow: 0 10px 10px -2px $black;
    border-color: $warning;
    transform: scale(1.01);
  }
}
